body{
    background-color: beige;
    }

    .container {
        width: 400px;
        height: 450px;
        background-color: rgb(210, 30, 201);
        margin: auto;
        padding: 50px;
        border-radius: 50px;
        }

        input{
            width: 100%;
            padding: 5px;
        }
 